singularity {
    enabled = true
}

process {
    withLabel: cellranger {
        container = "docker://nfcore/cellranger:6.1.2"
    }
    withLabel: scanpy {
        container = "library://wykswr/biof501/sc-rna:1.0"
    }
}

params {
    fastqs = "${baseDir}/data/pbmc_1k_v3_fastqs"
    transcriptome = "${baseDir}/data/refdata-gex-GRCh38-2020-A"
    countMat = "${baseDir}/data/filtered_gene_bc_matrices/hg19"
    markerRef = "${baseDir}/data/human_pbmc_oetjen_markers.csv"
    output = "${baseDir}/output"
}